<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="./src/libs/axios.min.js"></script>
    <title>Recipe Management</title>
</head>
<body>
    <header>
        <div class="main-head">
            <div id="logo">Master Chef's</div>
            <div class="search-profile">
                <input type="text" name="search-recipe" id="search-recipe" placeholder="Search here">
                <div class="login-profile">
                    <button class="" id="auth-btn">Login</button>
                    <div class="hidden fa-solid fa-user" id="profile"></div>
                </div>
            </div>
        </div>
        <nav id="navbar">
            <a href="">Home</a>
            <a href="">Share Recipe</a>
            <a href="">Category</a>
            <a href="">Authors</a>
            <a href="">Filters</a>
        </nav>
    </header>
    <footer>

    </footer>
</body>
<script src="/script.js"></script>
</html>