* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#login, section {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    width: 40%;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 3rem 2rem 5rem 2rem;
    border-radius: 2rem;
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.4);
}

#signup {
    margin-top: 2rem;
}

#signup-form {
    gap: 1.5rem;
}

form div, button {
    width: 84%;
    /* text-align: center; */
}

section div h2:first-child {
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.3rem;
    color: brown;
}

section div h2:nth-child(2) {
    margin-top: 1%;
    font-size: medium;
    font-weight: 200;
}

section div a {
    color: black;
    font-weight: 550;
}


label {
    font-size: 1rem;
    font-weight: 600;
}

input {
    margin-top: 0.5rem;
    width: 100%;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
}

input:focus{
    outline: 2px solid brown;
}

button {
    padding: 0.7rem 1rem;
    margin-top: 1.5rem;
    background-color: brown;
    color: aliceblue;
    border: none;
    border-radius: 3rem;
}

button:hover {
    cursor: pointer;
    background-color: rgb(173, 2, 2);
}

.hidden {
    display: none !important;
}

