* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    height: 30%;
    padding-top: 0.6rem;
    background-color: aliceblue;
}

.main-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

#logo {
    width: 60%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    color: brown;
    font-size: 4.5rem;
    letter-spacing: 0.3rem;
}

.search-profile {
    width: 35%;
    display: flex;
    justify-content: right;
    gap: 0.5rem;
}

.login-profile {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

#search-recipe{
    width: 70%;
    margin-right: 1rem;
    border: 1px solid brown;
    border-radius: 5rem;
    padding: 0.3rem 1rem;
}

#search-recipe:focus{
    outline: 1px solid brown;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

#auth-btn {
    width: 100%;
    background-color: brown;
    border: none;
    border-radius: 8px;
    color: aliceblue;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

#profile{
    background-color: brown;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.8rem;
    border-radius: 100%;
}

#auth-btn:hover, #profile:hover{
    background-color: rgb(138, 10, 10);
    cursor: pointer;
}

nav {
    background-color: brown;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    margin: 0;
}
nav a {
    text-decoration: none;
    color: aliceblue;
    margin: 0 2rem;
    border: none;
    font-size: 1.3rem;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 0.4rem;
}

nav a:hover {
    /* color: brown; */
    border-bottom: 2px solid aliceblue;
    transform: translateY(-12px);
    font-weight: 800;
}

.hidden {
    display: none !important;
}